/* Add these styles to your Hero.css file */

/* reset */
button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background: linear-gradient(to right, #4b08c6, #d201de);
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: white;
  font-size: 20px;
  margin: 0px 150px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}

.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}

.Button.violet:hover {
  background-color: var(--mauve-3);
}

.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}

.Button.green {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #48086e, #1a0229);
  border-radius: 20px;
  height: 40px;
  width: 100px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  transition: 0.3s ease, transform 0.3s ease;
  margin-right: 10px;
}

.Button.green:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}

.IconButton:hover {
  background-color: var(--violet-4);
}

.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: var(--violet-11);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: black;
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.hero {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #48086e, #1a0229);
  position: relative;
  /* Add a relative position to the hero container */
  flex-direction: row;
  /* Add this to make the elements align horizontally */
}

.hero-text {
  color: #fff;
  flex: 1;
  /* Make the text container take up the available space */
}

.hero-text h1 {
  font-size: 55px;
  margin-top: 80px;
  margin-left: 80px;
  position: relative;
  /* Add a relative position to the text container */
}

.hero-text h1 span {
  background: linear-gradient(to right, #4b08c6, #d201de);
  -webkit-background-clip: text;
  /* Apply the gradient to the text */
  color: transparent;
  /* Make the original text transparent */
  position: relative;
  z-index: 1;
  font-size: 65px;
}

.hero-text h1 span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125%;
  /* Adjust the size as needed */
  height: 120%;
  /* Adjust the size as needed */
  background: url('../../Assets/Ellipse\ 5.png') no-repeat center center;
  background-size: contain;
  z-index: -1;
  /* Place the image behind the text */
}

.hero-text p {
  font-size: 18px;
  margin-left: 80px;
  margin-top: 30px;
  font-weight: 600;
  line-height: 1.5;
}

.button-container {
  display: flex;
  align-items: center;
  margin-top: -120px;
  margin-left: 80px;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #4b08c6, #d201de);
  border-radius: 20px;
  height: 50px;
  width: 180px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  transition: 0.3s ease, transform 0.3s ease;
  /* Smooth transition for the hover effect */
  margin-right: 10px;
}

.btn1:hover {
  transform: scale(1.05);
  /* Slightly scale up the button on hover */
  filter: brightness(1.1);
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #4b08c6, #d201de);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: 0;
  cursor: pointer;
  margin-left: 40px;
  transition: 0.3s ease, transform 0.3s ease;
  margin-right: 10px;
}

.btn2 img {
  height: 12px;
}

.btn2:hover {
  transform: scale(1.15);
  /* Slightly scale up the button on hover */
  filter: brightness(1.1);
}

.button-container p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-right: 10px;
}

.arrow {
  width: 350px;
}

.marvel {
  height: 500px;
  width: 550px;
  margin-top: -107px;
  margin-left: 5%;
}

/* Desktop ( >= 1200px ) */
@media (min-width: 1200px) {
  .hero {
    min-height: 80vh;
  }

  .hero-text h1 {
    font-size: 65px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .button-container {
    margin-top: -150px;
  }

  .button-container p {
    margin-top: 50px;
  }

  .btn1 {
    width: 180px;
    margin-top: 50px;
  }

  .btn2 {
    margin-top: 50px;
  }

  .arrow {
    width: 350px;
    margin-top: 50px;
  }

  .marvel {
    height: 500px;
    width: 550px;
  }
}

/* Large tablet ( >= 1024px and < 1200px ) */
@media (min-width: 1023px) and (max-width: 1199px) {
  .hero {
    min-height: 70vh;
  }

  .hero-text h1 {
    font-size: 55px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .button-container {
    margin-top: -120px;
  }

  .button-container p {
    margin-top: 70px;
  }

  .btn1 {
    width: 200px;
    margin-top: 70px;
  }

  .btn2 {
    margin-top: 70px;
  }

  .arrow {
    display: none;
  }

  .marvel {
    height: 500px;
    width: 550px;
    margin-left: 150px;
  }
}

/* Medium tablet ( >= 768px and < 1024px ) */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    flex-direction: column;
    /* Make the elements align vertically */
    align-items: center;
    /* Center the elements horizontally */
  }

  .hero-text {
    margin: 0 auto;
    /* Center the text container horizontally */
  }

  .hero-text h1 {
    font-size: 60px;
    margin-top: 40px;
    margin-left: 0;
  }

  .hero-text p {
    font-size: 16px;
    margin-left: 0;
    margin-top: 30px;
  }

  .button-container {
    margin-top: 0;
    margin-left: 0;
    flex-direction: column;
    /* Make the buttons align vertically */
    align-items: center;
    /* Center the buttons horizontally */
  }

  .btn1 {
    margin-right: 300px;
    margin-top: 40px;
    position: absolute;
  }

  .btn2 {
    margin-left: 200px;
    margin-top: 40px;
    position: absolute;
  }

  .button-container p {
    margin-left: 380px;
    margin-top: 50px;
    position: absolute;
  }

  .arrow {
    display: none;
  }

  .marvel {
    margin-right: 0;
    margin-top: 100px;
  }
}

/* Add these media queries to make the elements align vertically on smaller screens */

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    /* Make the elements align vertically */
    align-items: center;
    /* Center the elements horizontally */
  }

  .hero-text {
    margin: 0 auto;
    /* Center the text container horizontally */
  }

  .hero-text h1 {
    margin-top: 40px;
    margin-left: 0;
    font-size: 56px;
  }

  .hero-text p {
    margin-left: 0;
    margin-top: 30px;
  }

  .button-container {
    margin-top: 0;
    margin-left: 0;
    flex-direction: column;
    /* Make the buttons align vertically */
    align-items: center;
    /* Center thebuttons horizontally */
  }

  .btn1 {
    margin-right: 200px;
    margin-top: 40px;
    position: absolute;
  }

  .btn2 {
    margin-right: 0;
    position: absolute;
    margin-top: 45px;
    margin-left: 170px;
  }

  .button-container p {
    margin-left: 350px;
    margin-top: 50px;
  }

  .arrow {
    display: none;
  }

  .marvel {
    margin-right: 0;
    height: 500px;
    width: 550px;
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    margin: 0 auto;
  }

  .hero-text h1 {
    margin-top: 40px;
    margin-left: 0;
    font-size: 33px;
  }

  .hero-text h1 span {
    font-size: 50px;
  }

  .hero-text p {
    margin-top: 30px;
    font-size: 10px;
  }

  .button-container {
    margin-top: 0;
    margin-left: 0;
    flex-direction: column;
    /* Make the buttons align vertically */
    align-items: center;
    /* Center thebuttons horizontally */
  }

  .btn1 {
    margin-right: 180px;
    height: 40px;
    width: 150px;
    font-size: 16px;
    margin-top: 30px;
  }

  .btn2 {
    margin-left: 150px;
    margin-top: 30px;
  }

  .button-container p {
    margin-top: 40px;
    margin-left: 280px;
  }

  .arrow {
    display: none;
  }

  .marvel {
    margin-right: 0;
    margin-top: 40px;
    height: 300px;
    width: 300px;
    position: relative;
  }
}